<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jackpot Tob Slot</title>
    <link rel="stylesheet" href="css/style2.css">
    <script defer src="/script.js"></script>
</head>

<body>
    <div class="main-container">
        <div class="multipliers">
            <h2>Multiplications des gains</h2>
            <ul id="multipliersList">
                <li>Si 7️⃣7️⃣7️⃣ JACKPOT ! x10</li>
                <li>Si 🍒🍒🍒 BIG WIN ! x5</li>
                <li>Si 🍒🍒🍉 SMALL WIN ! x2</li>
            </ul>

            <div class="result-message" id="resultMessage">
                <p>Tentez votre chance !</p>
            </div>

            <div class="profile-button">
                <button onclick="window.location.href='/profile'">Mon Profil</button>
            </div>

            <p class="copyright">&copy; 2024 Jackpot Tob Slot. Tous droits réservés.</p>

        </div>

        <div class="container">
            <h1>JACKPOT TOB SLOT</h1>
            <div class="bet-area">
                <label for="betAmount">Montant du pari :</label>
                <input type="number" id="betAmount" min="1" step="1" value="10">
            </div>

            <div class="slots">
                <% for (let i=0; i < 9; i++) { %>
                    <div class="slot"></div>
                    <% } %>
            </div>

            <button id="spin">SPIN</button>

            <div class="result-area">
                <div id="result"></div>
                <div class="balance-area">
                    <div id="balance">Solde: <%= userBalance %>
                    </div>
                    <div class="bet-buttons">
                        <% [1, 2, 5, 10].forEach(amount=> { %>
                            <button class="bet-button" data-amount="<%= amount %>">
                                <%= amount %>
                            </button>
                            <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>