/* auth-style.css */

/* Corps de la page */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #3B1E54, #9B7EBD);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Conteneur du formulaire */
.auth-container {
    background: #EEEEEE;
    /* Fond gris clair */
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 100%;
}

/* Titre */
h1 {
    font-size: 3.5em;
    font-weight: bold;
    color: #3B1E54;
    margin-bottom: 30px;
    text-transform: uppercase;
    background: linear-gradient(135deg, #3B1E54, #9B7EBD);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

/* Formulaire d'authentification */
input[type="text"],
input[type="password"] {
    padding: 15px;
    font-size: 1.2em;
    width: 80%;
    margin: 15px 0;
    border: 2px solid #3B1E54;
    border-radius: 10px;
    outline: none;
    background-color: #FFF;
    color: #333;
    text-align: center;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #9B7EBD;
}

/* Bouton */
button {
    padding: 15px 30px;
    margin-top: 20px;
    background: linear-gradient(135deg, #9B7EBD, #3B1E54);
    color: #FFF;
    border: none;
    border-radius: 8px;
    font-size: 1.3em;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
    background: linear-gradient(135deg, #3B1E54, #D4BEE4);
    transform: translateY(-3px);
}

/* Lien d'inscription */
.link-container {
    margin-top: 20px;
}

.link-container a {
    color: #3B1E54;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link-container a:hover {
    color: #9B7EBD;
}

/* Message d'erreur */
.error-message {
    color: #3B1E54;
    font-size: 1.2em;
    margin-top: 10px;
}