body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1F1D36, #3F3351);
    color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Conteneur du formulaire */
.auth-container {
    background: rgba(255, 255, 255, 0.1);
    /* Contenu avec légère transparence */
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
    width: 400px;
    max-width: 100%;
}

/* Titre */
h1 {
    font-size: 3.5em;
    font-weight: bold;
    color: #FF9F45;
    margin-bottom: 30px;
    text-transform: uppercase;

}

h2 {
    font-weight: bold;
    color: #FF9F45;
    margin-bottom: 30px;
    text-transform: uppercase;

}

/* Formulaire d'authentification */
input[type="text"],
input[type="password"] {
    padding: 15px;
    font-size: 1.2em;
    width: 80%;
    margin: 15px 0;
    border: 2px solid #FF5370;
    border-radius: 10px;
    outline: none;
    background-color: #29263A;
    color: #FFF;
    text-align: center;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #FF9F45;
}

/* Bouton */
button {
    padding: 15px 30px;
    margin-top: 20px;
    background: linear-gradient(135deg, #FF5370, #FF9F45);
    color: #FFF;
    border: none;
    border-radius: 8px;
    font-size: 1.3em;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

button:hover {
    background: linear-gradient(135deg, #FF9F45, #FF5370);
    transform: translateY(-3px);
}

button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

/* Lien d'inscription */
.link-container {
    margin-top: 20px;
}

.link-container a {
    color: #FF9F45;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link-container a:hover {
    color: #FF5370;
}

/* Message d'erreur */
.error-message {
    color: #FDDE55;
    font-size: 1.2em;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}